body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tela{
    background-color: rgb(201, 201, 201);
    height: 500px;
    width: 100%;
    position: relative;
}

#alvo{
    background-color: #da2644;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    position: absolute;
}

